.gp-performance-tt .container {
    border-color: #e30613;
}

.div_performance {
    font-size: 18px;
    color: black;
    margin-bottom: 14px;
    font-weight: 400;
    font-family: 'GothamBook';
    border-bottom: 4px solid #e30613;
    padding-bottom: 0;
    margin-top: 15px;
}


.gp-performance-tt .div_performance .nav-link {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 20px;
    color: #b3b3b3;
    border: 4px solid #c0c0c0;
    border-bottom: 0;
    margin-right: 2px;
    font-family: 'Gotham-Bold';
}

.gp-performance-tt .div_performance .nav-link.active {
    border-color:  #e30613;
    border-bottom: none;
    color: #e30613;
}

.div_performance span {
    cursor: pointer;
    padding: 10px;
    padding-top: 12px;
}

.div_performance span.active {
    background: #838c84;
    color: white;
    border-radius: 10px 10px 0px 0px;
}


.gp-performance-tt .tab-content.mi-performance-tabs ul li {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 18px;
}

.gp-performance-tt .mi-performance-tabs table thead tr th {
    font-weight: bold;
    font-size: 18px;
    color: black;
    font-family: 'Gotham-Bold';
}

.barra {
    background-color: lightgrey;
    height: 15px;
    line-height: 0;
    margin-top: 4px;
}

.gp-performance-tt .container ul li {
    border-bottom: none;
}

.gp-ranking-distri .nav-tabs .active {
    border-bottom: 1px solid #FFF!important;
}

.gp-ranking-distri .container {
    border-top-right-radius: 0px;
    border-right: 0px solid #e30613;
}

.gp-ranking-distri #accordion2 .panel-title {
    padding-top: 0!important;
}
