@import url("fonts.css");

/*body{
    font-family: 'GothamRounded';
  }*/

.imagen-logo{
	width: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-borde {
  padding: .375rem .75rem;
  border: 1px solid #30AAE2;
  border-radius: .25rem;
  color: #30AAE2;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
  color: #fff;
  background-color: #30AAE2;
}

.nav-admin{
  /* bgcolor="#30AAE2" */
  background-color: #30AAE2;
  width: 100%;
  border: 0;
  font-family: 'Gotham-Bold';
  font-size:14px;
}

.nav-admin .nav-admin-salir{
  text-decoration: none;
  width: 55px;
  margin-right:15px;
  text-align: right;
  color: #fff;
}

/*
{
}
*/