/* @font-face {
    font-family: 'Formula1 Display';
    src: url('Formula1-Display-Bold.woff2') format('woff2'),
        url('Formula1-Display-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formula1 Display';
    src: url('Formula1-Display-Regular.woff2') format('woff2'),
        url('Formula1-Display-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next DM Pro';
    src: url('AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'GothamRounded';
    src: url('Gotham-Rounded-Book.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gotham-Rounded-Medium';
    src: url('Gotham-Rounded-Medium.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gotham-Rounded-Bold';
    src: url('Gotham-Rounded-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham-Bold.otf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'GothamBook';
    src: url('GothamBook.ttf');
    font-weight: bold;
    font-style: normal;
  }