@import url("../../css/fonts.css");

/* gotham bold->titulo -- gotham->subtitulos -- gotham rounded->texto corrido*/

body {
	background:#FFF;
	margin:0;
	padding:0;
	font-family: 'GothamBook';
	text-align:center;
	font-size: 1rem;
}
.inputLogin{
	width:210px;
	height:30px;
	padding-left:4px;
	font-family: 'Avenir Next LT Pro';
	font-size:16px;
	color:#666666;
	border:none;
	background:#fbedaf;
	margin:5px 0;
}

#alerta{
	width:548px;
	height:35px;
	padding-top:15px;
	text-align:center;
	font-size:18px;
	color:#000;
	position:absolute;
	left:50%;
	margin-left:-274px;
	top:50%;
	margin-top:160px;
}

.lgRecuadro{
	width:548px;
	height:198px;
	margin:auto;
	background:#30AAE2;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-274px;
	margin-top:-130px
}

.lgRecuadro .logo{
	width:274px;
	height:194px;
	float:left;
	border: solid 2px #30AAE2;
	background:#30AAE2;
}
.lgRecuadro .logo img{
	margin-top:40px
}
.lgRecuadro .campos{
	width:270px;
	height:198px;
	float:left;
	text-align:center;
	background:#000000;
}
.lgRecuadro .campos .user{
	width:241px;
	height:130px;
	text-align:left;
	padding-left:29px;
	padding-top:15px;
}
.lgRecuadro .campos .user label{
	 font-family: 'GothamBook';
	 color:#FFF
}
.lgRecuadro .campos .user .inputLogin{
	background:#707070;
	color:#FFF
}
.lgRecuadro .campos .boton{
	font-family: 'GothamBook';
	width:253px;
	height:34px;
	text-align:center;
	padding-right:17px;
}
 
/*@media screen and (max-width: 800px) {

		.bg-conquistadores{
			background-color: #30AAE2;
		}

		form{
			background-color: #000000;
			color: #FFFFFF;
			
			margin: 0;
		}

		.form-group{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		font-size: 3rem;
		}



		img.logoConquistadores{
			margin-bottom: 10rem;
			margin-top: 10rem
		}

		.hconq{
			height: 50% !important;
		}
}*/