@import url("../../css/fonts.css");

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body {
	font-family: 'GothamBook';
}


/* conquistadores responsive bootstrap */
.row{
	width: 75% ;
}

/*.logoConquistadores{
	width: 20rem;
    margin: 3rem;
}

.bg-conquistadores{
	background-color: #30AAE2;
}

form{
	background-color: #000000;
	color: #FFFFFF;
	margin: 0;
	height: 100%;
}

.form-group{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 1rem;
	}

.btn-primary{
	background-color: #30AAE2;
}*/
 
@media (min-width: 600px) {

	.row{
		width: 100%;
	}		

/*.bg-conquistadores{
	background-color: #30AAE2;
}

form{
	background-color: #000000;
	color: #FFFFFF;
	
	margin: 0;
}

.form-group{
display: flex;
flex-direction: column;
justify-content: space-around;
font-size: 3rem;
}



img.logoConquistadores{
	margin-bottom: 10rem;
	margin-top: 10rem
}

.hconq{
	height: 50% !important;
}*/
}