.waiting {
	background-image:url(../img/waiting.gif);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:white;
}

.bigWaiting {
	background-image:url(../img/bigWaiting.gif);
	background-repeat:no-repeat;
	background-position:center 20%;
	background-color:white;
}

.blackWaiting {
	background-image:url(../img/blackWaiting.gif);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:black;
}

.bigBlackWaiting {
	background-image:url(../img/bigBlackWaiting.gif);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:black;
}